* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
      font-family: 'Times New Roman', Times, serif;
      padding: 10px;
    }
.title {
    border: 2px solid black;
    text-align: center;
}
.startingimage {
    display: flex;
    gap: 10px;
    align-items: stretch;
    }
.startingimage img {
    height: auto;
    width: 50%;
    object-fit: contain;
    flex: 1;
    }
.startingimage img:last-child {
    object-fit: cover;
    }
img {
        height: auto;
        width: 100%;
    }
span {
    background-color: yellow;
    }
#proceedures {
    font-size: 18px;
    }